<div id="testimonial">
  <div class="row p-0 m-0 justify-content-center">
    <div id="card" class="col-md-3 m-3 p-5 border" *ngFor="let testimonial of testimonials">
      <div class="row">
        <div class="col-4 d-flex justify-content-center align-items-center">
          <img [src]="testimonial.avatar" class="rounded-circle img-fluid border">
        </div>
        <div class="col">
          <p><b>{{ testimonial.name }}</b></p>
          <p class="mb-2">{{ testimonial.designation }}</p>       
          <p><span class="glyphicon glyphicon-map-marker"></span> {{ testimonial.location }}</p>
        </div>
      </div>
        <p class="mt-4 text-justify">{{ testimonial.message }}</p>
        <br>
    </div>
  </div>
</div>