<div class="row" id="dashboard">
  <div class="col-4 pr-3">
    <nav class="border">
      <ul class="text-center">
        <li><a routerLink="#"> My Profile </a></li>
        <hr>
        <li><a routerLink="#"> Dashboard Menu 1 </a></li>
        <hr>
        <li><a routerLink="#"> Dashboard Menu 2 </a></li>
      </ul>
    </nav>
  </div>
  <div class="col pl-3 ml-5">
    <img [src]="userData.image" class="rounded-circle img-fluid border mb-3">
    <div class="mt-5">
      <table>
        <tr>
          <th class="pr-5">Username</th>
          <th class="pr-5">:</th>
          <th class="">{{ userData.username }}</th>
        </tr>
        <tr>
          <th>Email</th>
          <th>:</th>
          <th>{{ userData.email }}</th>
        </tr>
        <tr>
          <th>First Name</th>
          <th>:</th>
          <th>{{ userData.firstName }}</th>
        </tr>
        <tr>
          <th>Last Name</th>
          <th>:</th>
          <th>{{ userData.lastName }}</th>
        </tr>
        <tr>
          <th>Gender</th>
          <th>:</th>
          <th class="text-capitalize">{{ userData.gender }}</th>
        </tr>
      </table>
    </div>
  </div>
</div>