<div class="row" id="dashboard">
  <div class="col-4">
    <nav class="border">
      <ul class="text-center">
        <li><a routerLink="#"> My Profile </a></li>
        <hr>
        <li><a routerLink="#"> Dashboard Menu 1 </a></li>
        <hr>
        <li><a routerLink="#"> Dashboard Menu 2 </a></li>
      </ul>
    </nav>
  </div>
  <div class="col">
    <img src="" alt="">
    <div>
      <table>
        <tr>
          <th class="pr-5">Username</th>
          <th class="pr-5">:</th>
          <th class="">user</th>
        </tr>
        <tr>
          <th>Email</th>
          <th>:</th>
          <th>email.com</th>
        </tr>
        <tr>
          <th>First Name</th>
          <th>:</th>
          <th>name1</th>
        </tr>
        <tr>
          <th>Last Name</th>
          <th>:</th>
          <th>name2</th>
        </tr>
        <tr>
          <th>Gender</th>
          <th>:</th>
          <th>Woman</th>
        </tr>
      </table>
    </div>
  </div>
</div>