<div class="">
  <div class="login-card">
    <h2 class="mb-5">WELCOME BACK!</h2>
    <form class="mt-5 p-5">
      <input [(ngModel)]="loginUserData.username" name="username" type="username" class="form-control my-3" placeholder="Username">
      <input [(ngModel)]="loginUserData.password"  name="password" type="password" class="form-control my-3" placeholder="Password">
      <button (click)="loginUser()" type="button" class="btn font-weight-bold mt-5">LOGIN</button>
    </form>
  </div>
</div>